<div class="checkout">
    <div class="main-checkout">
        <div class="checkout-title">Commande (2)</div>
        <div class="item-list">
            <div class="item">
                <div class="item-row">
                    <div class="item-name">Petite Arvine</div>
                    <img class="item-remove" src="../assets/icons/recycle-bin.png">
                </div>
                    <div class="item-variant">75cl</div>
                <div class="item-row">
                    <div class="quantityChooser">
                        <div class="quantityM-left">-</div>
                        <input class="quantityValue" type="text" placeholder="0">
                        <span class="quantityM-right">+</span>
                    </div>
                    <div class="item-totalprice">120.-</div>
                </div>
            </div>
            <div class="item">
                <div class="item-row">
                    <div class="item-name">Fendant St-Léonard Grand Cru</div>
                    <img class="item-remove" src="../assets/icons/recycle-bin.png">
                </div>
                    <div class="item-variant">75cl</div>
                <div class="item-row">
                    <div class="quantityChooser">
                        <div class="quantityM-left">-</div>
                        <input class="quantityValue" type="text" placeholder="0">
                        <span class="quantityM-right">+</span>
                    </div>
                    <div class="item-totalprice">140.-</div>
                </div>
            </div>

        </div>

        <div class="checkout-box">
            <div class="item-row">
                <div class="subtotal-label">Sous-Total</div>
                <div class="subtotal-amount">120.-</div>
            </div>
            <div class="item-row total">
                <div class="total-label">Total</div>
                <div class="total-amount">120.-</div>
            </div>
        </div>
    </div>
</div>