.checkout{
    margin-left:5%;
    margin-right:5%;
    padding-top: 120px;
}

.main-checkout{
    padding:10px;
    border-radius: 10px;
}

.checkout-title{
    font-weight: 700;
    font-size: 20px;
}

.item-list{
    margin-bottom: 160px;
}

.item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    
    border-bottom: 1px solid #F9F9F9;
    padding:30px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
.item-img{
    width:20%;
    height: 20%;
}

.item-name{
    font-size:22px;
    font-weight: 600;
}

.item-totalprice{
    font-weight: 500;
}

.item-remove{
    height: 20px;
    width: 20px;
}

.quantityLabel{
    display:flex;
    margin-bottom: 5px;
}

.quantityChooser{
    display: flex;
    margin-top: 10px;
}

.quantityM-left{
    border-left:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 50px 0px 0px 50px;

    height: 40px;
    width: 40px;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 15px;
    font-weight: 300;
}

.quantityM-right{
    border-right:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 0px 50px 50px 0px;

    height: 40px;
    width: 40px;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 15px;
    font-weight: 300;
}

.quantityValue{
    height:40px;
    width: 60px;

    text-align: center;

    border:none;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;
    
    outline: none;
    
    font-size: 15px;
    font-weight: 300;


    color: #000000;
    background-color: #F3F3F4;
}

.checkout-box{
    width:100%;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;

    border-radius: 15px 15px 0px 0px ;

}

.checkout-info{
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.total{
    margin-top:5px;
    border-top:  1px solid #F0E9F1;
    padding-top: 5px;

    font-weight: 600;
}

.btn-checkout{
    width: 250px;
    height: 50px;

    border-radius: 8px;
    background-color: #0D345A;

    color:#ffffff;
    
    border:none;

    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;

    outline:none;
}

.btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.delivery-option{
    padding-left:20px;
    vertical-align: baseline;
}

.calendar{
    display: flex;
    vertical-align: middle;
}

mat-datepicker-toggle{
    color:#000000;
    margin-left:-40px;
}

.coordform{
    margin-bottom:15px;
}

.coordgroup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;

}

@media (max-width: 600px) {
    .coordgroup {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
