<div class="checkout">
    <div class="main-checkout">
        <div class="checkout-title">Commande (2)</div>
        <div class="item-list">
            <div class="item">
                <div class="item-row">
                    <div class="item-name">Petite Arvine</div>
                    <img class="item-remove" src="../assets/icons/recycle-bin.png">
                </div>
                    <div class="item-variant">75cl</div>
                <div class="item-row">
                    <div class="quantityChooser">
                        <div class="quantityM-left">-</div>
                        <input class="quantityValue" type="text" placeholder="0">
                        <span class="quantityM-right">+</span>
                    </div>
                    <div class="item-totalprice">120.-</div>
                </div>
            </div>
            <div class="item">
                <div class="item-row">
                    <div class="item-name">Fendant St-Léonard Grand Cru</div>
                    <img class="item-remove" src="../assets/icons/recycle-bin.png">
                </div>
                    <div class="item-variant">75cl</div>
                <div class="item-row">
                    <div class="quantityChooser">
                        <div class="quantityM-left">-</div>
                        <input class="quantityValue" type="text" placeholder="0">
                        <span class="quantityM-right">+</span>
                    </div>
                    <div class="item-totalprice">140.-</div>
                </div>
            </div>

        </div>

        <div class="checkout-box">
            <div class="item-row">
                <div class="subtotal-label">Sous-Total</div>
                <div class="subtotal-amount">120.-</div>
            </div>
            <div class="item-row total">
                <div class="total-label">Total</div>
                <div class="total-amount">120.-</div>
            </div>
        </div>
        <div class="btn">
            <button class="btn-checkout">LIVRAISON 	&#x2192;</button>
        </div>
    </div>



    <div class="main-checkout">
        <div class="checkout-title">Livraison</div>
        <div class="item-list">
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery1" value="deliverytoday">
                    Emporté aujourd'hui
                </div>
            </div>
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery1" value="deliverytoday">
                    A livrer par transporteur
                    <div class="additionalAmount">+ 9.-</div>
                </div>
            </div>
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery1" value="deliverytoday">
                    Récupération ultérieure à la cave
                    <div class="calendar">
                        <input matInput [matDatepicker]="picker" [min]="minDate" class="form-control">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="calendar-icon"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-box">
            <div class="item-row">
                <div class="subtotal-label">Sous-Total</div>
                <div class="subtotal-amount">120.-</div>
            </div>
            <div class="item-row">
                <div class="subtotal-label">Livraison</div>
                <div class="subtotal-amount">9.-</div>
            </div>
            <div class="item-row total">
                <div class="total-label">Total</div>
                <div class="total-amount">129.-</div>
            </div>
        </div>
        <div class="btn">
            <button class="btn-checkout">COORDONNEES 	&#x2192;</button>
        </div>
    </div>

    <div class="main-checkout">
        <div class="checkout-title">Coordonnées</div>
        <div class="item-list">
            <div class="item">
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Prénom</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="name">
                    <label>Nom</label>
                    <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Adresse</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="firstname">
                        <label>Adresse 2</label>
                        <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="npa">
                        <label>NPA</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="city">
                        <label>Ville</label>
                        <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Email</label>
                        <input type="email" class="form-control coordform">
                    </div>
                    <div class="firstname">
                        <label>Téléphone</label>
                        <input type="phone" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-box">
            <div class="item-row">
                <div class="subtotal-label">Sous-Total</div>
                <div class="subtotal-amount">120.-</div>
            </div>
            <div class="item-row">
                <div class="subtotal-label">Livraison</div>
                <div class="subtotal-amount">9.-</div>
            </div>
            <div class="item-row total">
                <div class="total-label">Total</div>
                <div class="total-amount">129.-</div>
            </div>
        </div>
        <div class="btn">
            <button class="btn-checkout">PAIEMENT 	&#x2192;</button>
        </div>
    </div>
</div>