<div class="checkout">
    <div class="main-checkout" *ngIf="hideCart">
        <div class="checkout-title" (click)="clearCart()">Votre Commande ({{itemInCart}})</div>
        <div class="item-list">
            <div class="item" *ngFor="let cartItem of cartArticles; let i = index">
                <div class="item-row">
                    <div class="item-name">{{cartArticles[i].name}}</div>
                    <img class="item-remove" src="../assets/icons/recycle-bin.png" (click)="removeItem(i)">
                </div>
                    <div class="item-variant">Selected Variant Name</div>
                <div class="item-row">
                    <div class="quantityChooser">
                        <div class="quantityM-left">-</div>
                        <input class="quantityValue" type="text" placeholder="0" value="{{cartArticles[i].quantity}}">
                        <span class="quantityM-right">+</span>
                    </div>
                    <div class="item-totalprice">{{(cartArticles[i].price * cartArticles[i].quantity)}}.-</div>
                </div>
            </div>
        </div>   
    </div>



    <div class="main-checkout" *ngIf="hideDelivery">
        <div class="checkout-title" >Livraison</div>
        <div class="item-list">
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery1" value="deliverytoday" (change)="onItemChange($event.target.value)">
                    Emporté aujourd'hui
                </div>
            </div>
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery2" value="deliveryByTransporter" (change)="onItemChange($event.target.value)">
                    A livrer par transporteur
                    <div class="additionalAmount">+ 9.-</div>
                </div>
            </div>
            <div class="item">
                <div class="item-row delivery-option">
                    <input class="form-check-input" type="radio" name="delivery" id="delivery3" value="deliveryIn" (change)="onItemChange($event.target.value)">
                    Récupération ultérieure à la cave
                    <div class="calendar">
                        <input matInput [matDatepicker]="picker" [min]="minDate" class="form-control">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="calendar-icon"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-checkout" *ngIf="hideClient">
        <div class="checkout-title">Coordonnées</div>
        <div class="item-list">
            <div class="item">
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Prénom</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="name">
                    <label>Nom</label>
                    <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Adresse</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="firstname">
                        <label>Adresse 2</label>
                        <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="npa">
                        <label>NPA</label>
                        <input type="text" class="form-control coordform">
                    </div>
                    <div class="city">
                        <label>Ville</label>
                        <input type="text" class="form-control coordform">
                    </div>
                </div>
                <div class="coordgroup">
                    <div class="firstname">
                        <label>Email</label>
                        <input type="email" class="form-control coordform">
                    </div>
                    <div class="firstname">
                        <label>Téléphone</label>
                        <input type="phone" class="form-control">
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="checkout-box">
    <div class="checkout-info">
        <div class="item-row">
            <div class="subtotal-label">Sous-Total</div>
            <div class="subtotal-amount">{{cartSubTotal}}.-</div>
        </div>
        <div class="item-row" *ngIf="deliveryByTransporter">
            <div class="subtotal-label" >Livraison</div>
            <div class="subtotal-amount">{{deliveryByTransporterAmount}}.-</div>
        </div>
        <div class="item-row total">
            <div class="total-label">Total</div>
            <div class="total-amount">{{cartAmount}}.-</div>
        </div>  
        <div class="item-row btn" >
            <button class="btn-checkout" (click)="showDelivery()" *ngIf="hideCart">Livraison 	&#x2192;</button>
            <button class="btn-checkout" (click)="showClient()" *ngIf="hideDelivery">Coordonnées 	&#x2192;</button>
            <button class="btn-checkout" (click)="showPayment()" *ngIf="hideClient">Paiement 	&#x2192;</button>
        </div>          
    </div> 
</div>
