<div class="article" *ngIf="product">
    <div class="article-infos">
        <img src="../assets/img/gamay.jpg" class="article-image">
        

        <div class="article-details">
            <div class="article-content">{{product.name}}</div>
            {{product.price}} .-

            <div class="variant-list">
                <div class="variant-name">Contenance</div>
                <div class="variant-item-list">
                    <div class="variant-item">50cl</div>
                    <div class="variant-item">75cl</div>
                </div>
            </div>

            <div class="quantity">
                <div class="quantityM-left">-</div>
                <input class="quantityValue" type="text" placeholder="0">
                <span class="quantityM-right">+</span>
            </div>

            <button>Ajouter</button>
        </div>
    </div>
</div>