.article{
    width: 100%;
    height: 100%;
}

.article-detail{
    margin:10px;

}

.article-image{
    width: 20%;
}

@media screen and (max-width: 900px) {
    .article-image{
        width: 50%;
    }
  }

.article-content{

}

.variant{
   
}

.quantity{

}