
.article{
    margin-left:5%;
    margin-right:5%;
    margin-top: 20px;
}

.article-infos{
    padding:10px;

    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    justify-content: center;    
}

.article-image{
    width: 40%;
}

.article-details{
    margin-left: 100px;
    margin-top: 30px;
}

.article-content{
    font-size: 30px;
    padding-top:30px;
}

.variant-list{
    margin-top: 30px;
}

.variant-name{
    margin-bottom: 5px;
}

.variant-item-list{
    display: flex;
    
}

.variant-item{
    border:solid 1px #F0E9F1;
    border-radius: 8px;

    height: 50px;
    width: 80px;
    margin-right: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.variant-item:hover{
    background-color: #262626;
    color: #ffffff;
    border: solid 1px #262626;
}

.quantity{
    display:flex;
    margin-top: 50px;
}



button{

    margin-top: 50px;

    border: none;
    border-radius: 8px;
    width: 100%;
    height:50px;
    font-weight: 300;
}


@media screen and (max-width: 900px) {
    .article-infos{
        width: 100%;
        display: block;
    }

    select{
        width:100%;
    }

    .article-details{
        margin-left: 10px;
        margin-top: 30px;
    }
}


.quantityM-left{
    border-left:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 50px 0px 0px 50px;

    height: 50px;
    width: 80px;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 20px;
    font-weight: 300;
}

.quantityM-right{
    border-right:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 0px 50px 50px 0px;

    height: 50px;
    width: 80px;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 20px;
    font-weight: 300;
}

.quantityValue{
    height:50px;
    width: 100px;

    text-align: center;

    border:none;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;
    
    outline: none;
    
    font-size: 20px;
    font-weight: 300;

    background-color: #F3F3F4;
    color: #000000;
    
}

.quantityValue:focus{
    background-color: #ffffff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

