
.article{
    margin-left:5%;
    margin-right:5%;
    margin-top: 20px;
    
}

.article-infos{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    border-radius: 20px;
    width: 50%;

}

.article-image{
    width: 50%;
}

@media screen and (max-width: 900px) {
    .article-image{
        width: 50%;
    }
    .article-infos{
        width: 100%;
    }

    select{
        width:100%;
    }
  }

.article-content{
    padding: 30px;
    font-size: 20px;
}

.article-details{
    margin-top: 30px;
}

select{
    background-color: transparent;
    border-radius: 10px;
    color: #9E9EA7;
    font-weight: 300;

    width: 30%;
    padding-left: 20px;

    margin-left: auto;
    margin-right: auto;
}

select:focus{
    border: none;
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.quantity{
    margin-top: 30px;
}