
.article{
    margin-left:5%;
    margin-right:5%;
    margin-top: 20px;    
}

.article-infos{
    margin-left: auto;
    margin-right: auto;

    padding:10px;

    background-color: #ffffff;
    border-radius: 20px;
    width: 80%;
    
    padding-bottom: 20px;

    display: flex;

}

.article-image{
    width: 50%;
    height: 50%;
}

.article-details{
    margin-left: 10px;
    margin-top: 30px;
}

.article-content{
    font-size: 30px;
    padding-top:30px;
}

.variant-list{
    margin-top: 30px;
}

.variant-name{
    margin-bottom: 5px;
}

.variant-item-list{
    display: flex;
    
}

.variant-item{
    border:solid 1px #F0E9F1;
    border-radius: 8px;

    height: 50px;
    width: 80px;
    margin-right: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.variant-item:hover{
    background-color: #262626;
    color: #ffffff;
    border: solid 1px #262626;
}

.quantity{
    display:flex;
    margin-top: 20px;
}



.quantityM{
    border:solid 1px #F0E9F1;
    border-radius: 8px;

    height: 50px;
    width: 80px;
    margin-right: 5px;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 20px;
    font-weight: 300;
}

.quantityValue{
    height:50px;
    width: 100px;
    margin-right: 5px;

    text-align: center;
    border-radius: 8px;
    
    border:none;
    
    outline: none;
    
    font-size: 20px;
    font-weight: 300;

    background-color: #F3F3F4;
    color: #9E9EA7;
    
}

.quantityValue:focus{
    background-color: #ffffff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button{

    margin-top: 20px;

    border: none;
    border-radius: 8px;
    width: 100%;
    height:50px;
    font-weight: 300;
}


@media screen and (max-width: 900px) {
    .article-image{
        width: 60%;
    }
    .article-content{
        text-align: center;
    }
    .article-infos{
        width: 100%;
    }

    select{
        width:100%;
    }

    .article-infos{
        display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .article-image{
        width: 80%;
    }
}