<div class="article" >
    <div class="article-infos">
        <img src="../assets/img/gamay.jpg" class="article-image">
        <div class="article-details">
            <div class="article-content">{{article[0].name}}</div>
            CHF {{article[0].price}}

            <div class="variant-list">
                <div class="variant-name">{{article[0].variants[0].name}}</div>
                <div class="variant-item-list" *ngFor="let variant of articleVariant; let i = index">
                    <div  class="variant-item" (click)="onSelectVariant(i)" >{{ articleVariant[i] }}</div>
                </div>
            </div>

            <div class="quantity">
                <div class="quantityLabel">Quantité</div>
                <div class="quantityChooser">
                    <div class="quantityM-left" (click)="quantityM()">-</div>
                    <input class="quantityValue" type="number" step="1" placeholder="0" value="{{quantity}}" (input)="onInputChange($event.target.value)">
                    <span class="quantityM-right" (click)="quantityP()">+</span>
                </div>
            </div>

            <button>Ajouter</button>
        </div>
    </div>
</div>