
.article{
    height: 100%;
    margin:0;
    
}

.article-infos{
    display: block;
    align-items: center;
    text-align: center;

    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;

}

.article-image{
    width: 50%;
}

@media screen and (max-width: 900px) {
    .article-image{
        width: 50%;
    }
    .article-infos{
        width: 100%;
    }
  }

.article-content{
    padding: 30px;
    font-size: 20px;
}

.article-details{
    margin-top: 30px;
}

.variant{
    border:none;
    background-color: transparent;

    width: 250px;
    height: 40px;
    
    padding-left: 20px;

    border-bottom: 1px solid #e6e1e1;
    font-weight:300;
}

.quantity{
    margin-top: 30px;
}