
.article{
    margin-left:5%;
    margin-right:5%;
    margin-top: 50px;
}

.article-infos{
    padding:10px;

    background-color: #ffffff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.article-image{
    object-fit: cover;
    width: 15%;
    
}

.article-details{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article-content{
    font-size: 30px;
    padding-top:30px;

    font-family: 'Inter';
    font-weight: 600;
}

.variant-list{
    margin-top: 30px;
}

.variant-name{
    margin-bottom: 5px;
}

.variant-item-list{
    display: flex;
    
}

.variant-item{
    border:solid 1px #F0E9F1;
    border-radius: 8px;

    height: 50px;
    width: 80px;
    margin-right: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.variant-item:hover{
    background-color: #262626;
    color: #ffffff;
    border: solid 1px #262626;
}

.quantity{
    display:block;
    margin-top: 50px;
}

.quantityLabel{
    display:flex;
    margin-bottom: 5px;
}

.quantityChooser{
    display: flex;
}

.quantityM-left{
    border-left:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 50px 0px 0px 50px;

    height: 50px;
    width: 30%;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 20px;
    font-weight: 300;
}

.quantityM-right{
    border-right:solid 1px #F0E9F1;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;

    border-radius: 0px 50px 50px 0px;

    height: 50px;
    width: 30%;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 20px;
    font-weight: 300;
}

.quantityValue{
    height:50px;
    width: 30%;

    text-align: center;

    border:none;
    border-top:solid 1px #F0E9F1;
    border-bottom:solid 1px #F0E9F1;
    
    outline: none;
    
    font-size: 20px;
    font-weight: 300;


    color: #000000;
    background-color: #F3F3F4;
}


button{

    margin-top: 20px;

    border: none;
    border-radius: 8px;
    outline: none;

    width: 90%;
    height:50px;
    
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    .article-infos{
        width: 100%;
        display: block;
    }

    select{
        width:100%;
    }

    .article-details{
        margin:10px;
        margin-top: 30px;
    }
    .article-image{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

}

@media screen and (max-width: 600px) {
    .article-image{
        width: 100%;
    }

}