
<div class="nav">
    <div class="nav-logo"><img src="../assets/img/logo.png" class="nav-img"></div>
        <div class="main-nav">
            <input type="search" class="form-control search-input" placeholder="Recherche">            
            <div class="filter nav-item">Filtre</div>
            <div class="cart nav-item">0</div>
        </div>
</div>
<div class="filter-list">
    <label>Catégories</label>
        <select class="form-control">
            <option selected>Tous les produits</option>
            <option>Vins blancs</option>
            <option>Vins rouges</option>
            <option>Vins rosés</option>
            <option>Fûts de chêne</option>
        </select>
</div>
