header{
    position: fixed;
    top:0;
    width: 100%;
}

.nav{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    color: indianred;
    display: flex;

    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
}
.nav-logo{
    display: inline-block;
    outline:none;
}

.main-nav{
    display: flex;
    width: 80%;   
    
}

.nav-img{
    width: 50px;
}

.nav-icons{
    width: 25px;
        
}
.nav-item{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px;
    background-color: #f3f3f4;
    outline: none;
    
}

.search-input{
    font-weight: 300;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 60%;
    height: 35px;
    padding: 20px;
    background-color: #F3F3F4;
    color: #9E9EA7;
}

.search-input:focus{
    background-color: #ffffff;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-list{
    position: relative;
    
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;

    background-color: #ffffff;

}

label{
    font-weight: bold;
}

select{
    border-radius: 10px;
    color: #9E9EA7;
    font-weight: 300;

    width: 30%;
}

select:focus{
    border: none;
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-list option{
    margin-top:10px;
    font-weight: 300;
    background-color: #ffffff;
    border:none;
}

option::selection{
    color:#9E9EA7;
}


@media (max-width: 1000px) {
    select {
       width: 100%;
    }
  }

option{
    background-color: blue;
}

.cart-quantity{
    color: white;
    background-color: #262626;
    

    font-size: 12px;
    border-radius: 0px 0px 8px 8px;
    width: 40px;
    
    margin-top: 3px;
    
}

.cart{
    
}