.catalog-heading{

}

.search-input{
    width: 70%;
    background-color: #ffffff;
    
    border-radius: 8px 0px 0px 8px;
    border: none;
    outline: none;

    padding:10px;

    font-weight: 300;
}

.search-icon{
    padding:10px;
    border: none;
    outline: none;
    border-radius: 0px 8px 8px 0px;

    background-color: #ffffff;
}

.category-filter{
    background-color: gray;
}

.cart{
    background-color: green;
}



.product-item{

    margin: 10px;

    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.product-image{
    width: 70%;
}

.product-content{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}

.product-add{
    text-align: center;
    font-size: 12px;
}