.navbar{
    background-color: #292C30;
    height: 100px;
}

.nav-logo{
    height: 100%;
}

.nav-img{
    width: 50px;

}
.nav-item{
    display:flex;
}

.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.product-item{

    margin: 10px;

    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.product-img{
    width: 70%;
}

.product-content{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}

.product-add{
    text-align: center;
    font-size: 12px;
}