.product-list{
    display: flex;
    justify-content: space-between;
}

.product-item{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.product-img{
    width: 70%;
}

.product-content{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}

.product-add{
    text-align: center;
    font-size: 12px;
}

.main-catalog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    margin:10px
}

@media (max-width: 1000px) {
    .main-catalog {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
  }
  
@media (max-width: 600px) {
    .main-catalog {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
  }
  