.product-grid{
}



.product-item{
    margin:10px;

    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.product-image{
    width: 70%;
}

.product-content{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}

.product-add{
    text-align: center;
    font-size: 12px;
}